<footer class="border-gray-200">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-start justify-between gap-y-12 py-6 lg:flex-row lg:items-center">
      <nav class="mt-6 flex gap-8">
        <a class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-gray-700 dark:text-gray-300 transition-colors delay-150 hover:text-gray-900 dark:hover:text-gray-100 hover:delay-0" href="/#features"><span class="relative">Features</span></a>
        <a class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-gray-700 dark:text-gray-300 transition-colors delay-150 hover:text-gray-900 dark:hover:text-gray-100 hover:delay-0" href="/#reviews"><span class="relative">Reviews</span></a>
        <a class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-gray-700 dark:text-gray-300 transition-colors delay-150 hover:text-gray-900 dark:hover:text-gray-100 hover:delay-0" href="/#test"><span class="relative">Test</span></a>
        <a class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm text-gray-700 dark:text-gray-300 transition-colors delay-150 hover:text-gray-900 dark:hover:text-gray-100 hover:delay-0" href="/#faqs"><span class="relative">FAQs</span></a>
      </nav>
    </div>
    <div class="flex flex-col items-center border-t border-gray-200 py-6 md:flex-row-reverse md:justify-between md:pt-6">
      <p class="text-sm text-gray-500 dark:text-gray-400 md:mt-0">
        &copy; Copyright <script nonce="${nonce}">document.write(new Date().getFullYear());</script>. All rights reserved.
      </p>
    </div>
  </div>
</footer>
